@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: col-resize;
  border: none;
}

input[type='range']::-webkit-slider-runnable-track {
  background: #ffa500;
  height: 0.4rem;
}

input[type='range']::-moz-range-track {
  background: #ffa500;
  height: 0.4rem;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: gray;
  height: 0.4rem;
  width: 3px;
}

input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: gray;
  height: 0.4rem;
  width: 3px;
}

input[type='file'] {
  display: none;
}
